.wk-bot-manage-modal .octo-ui-modal__surface {
    padding: 0;
}

.wk-bot-manage-modal .octo-ui-modal__body {
    display: block;
    flex: none;
    height: 520px;
    padding: 0;
    overflow: hidden;
}
