.octo-ui-dot {
  display: inline-block;
  flex-shrink: 0;
  width: var(--octo-ui-dot-size);
  height: var(--octo-ui-dot-size);
  border-radius: var(--wk-r-circle);
  background: var(--octo-ui-dot-color);
  vertical-align: middle;
}

:where(.octo-ui-dot--default) {
  --octo-ui-dot-size: var(--wk-sp-2);
}

:where(.octo-ui-dot--small) {
  --octo-ui-dot-size: var(--wk-sp-1-5);
}

:where(.octo-ui-dot--neutral) {
  --octo-ui-dot-color: var(--octo-ui-dot-neutral-color);
}

:where(.octo-ui-dot--danger) {
  --octo-ui-dot-color: var(--octo-ui-dot-danger-color);
}

:where(.octo-ui-dot--success) {
  --octo-ui-dot-color: var(--octo-ui-dot-success-color);
}

:where(.octo-ui-dot--warning) {
  --octo-ui-dot-color: var(--octo-ui-dot-warning-color);
}

:where(.octo-ui-dot--info) {
  --octo-ui-dot-color: var(--octo-ui-dot-info-color);
}

:where(.octo-ui-dot--online) {
  --octo-ui-dot-color: var(--octo-ui-dot-online-color);
}
