

.wk-message-split-box {
    --wk-message-split-line-color: var(--wk-border-default);
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: table;
}

body[theme-mode="dark"] .wk-message-split-box {
    --wk-message-split-line-color: var(--wk-border-strong);
}

.wk-message-split-content {
    color: var(--wk-text-tertiary);
    padding: 5px 8px 0;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    font-weight: 600;
}

.wk-message-split-line1 {
    background-image: linear-gradient(360deg, transparent, var(--wk-message-split-line-color));
    background-position: 0 0,0 100%;
    background-repeat: no-repeat;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    top: 13px;
    width: 50%;
    display: table-cell;
    position: relative;
}

.wk-message-split-line2 {
    background-image: linear-gradient(360deg, var(--wk-message-split-line-color), transparent);
    background-position: 0 0,0 100%;
    background-repeat: no-repeat;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    top: 13px;
    width: 50%;
    display: table-cell;
    position: relative;
}
