.wk-move-to-group-menu {
    min-width: var(--octo-ui-dropdown-min-width);
    padding: var(--octo-ui-dropdown-padding);
    border-radius: var(--octo-ui-dropdown-radius);
    background: var(--octo-ui-dropdown-bg);
    box-shadow: var(--octo-ui-dropdown-shadow);
}

.wk-move-to-group-menu__create {
    color: var(--wk-brand-primary);
    font-weight: var(--wk-font-medium);
}
